.titre1 { font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: center;
text-decoration: wavy;
background-color: blue;
}
body { background-color:white;
    text-align: center;
    color : black;
    margin: 0;

    
}
nav h1{
display: flex;
justify-content: space-between;
}
nav h1 li {
    list-style-type: none;
    margin-right: 15px; /* Adjust the spacing between list items */
}
header { background-color: #fc0202; /* Change the background color to your preference */
    color: #000000; /* Change the text color to your preference */
    padding: 10px;
}
nav h1 li:hover {
    background-color: #555; /* Change the background color on hover to your preference */
}
form { 
    border: 2px solid;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 200px;
    height: 200px;
    margin-left: 650px;
}
footer {
    background-color: #fc0202;
    text-align: center;
}
table {
    display: flex;
    align-items: center;
    justify-content: center;
}
table tr th {
    width: 200px;
    height: 200px;
}